### 3. **Обзор и использование библиотеки Pandas**

### **3.1. Импорт данных в Pandas DataFrame**

- Импорт данных из CSV-файла
- Импорт данных из JSON-файла
- Импорт данных из Excel-файла


Задача: Импортировать датасет из файла CSV и Excel, просмотреть первые и последние строки датасета с помощью методов head и tail.


### Jupyter Notebook: Импорт данных в Pandas DataFrame

Устанавливаем Pandas, если установлен, то будет просто предупреждение

In [1]:
!pip install pandas
# устанавливаем openpyxl для корректной работы с Excel
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.21.0 in ./.local/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in ./.local/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in ./.local/lib/python3.10/site-packages (from openpyxl) (1.1.0)

### Импортируем необходимые библиотеки

In [2]:
import pandas as pd

##### Загрузка CSV файла в DataFrame

In [3]:
# Импорт CSV файла
# ---------------------------------------------------------------
# Загрузка CSV файла в DataFrame.


df_csv = pd.read_csv('countries_dataset/countries-of-the-world.csv', encoding = 'utf-8', sep = ',')

# Используем файл 'countries-of-the-world.csv' который лежит в каталоге с ноутбуком,
# encoding='utf-8': Этот аргумент указывает кодировку файла. UTF-8 поддерживает множество языков, включая кириллицу.
# если с кириллицей проблемы - применяем кодировку 'cp1251', 
# разделитель полей в файле ';' (точка с запятой)
#  read_csv по умолчанию считывает первую строку как заголовки



# Выводим первые 5 строк DataFrame
df_csv.head()

# Выводим последние 5 строк DataFrame
# df_csv.tail()

,Страна,Регион,Численность,Площадь (sq. mi.),Плотность населения (per sq. mi.),Длина побережья к общей площади,Миграция,Детская смертность,ВВП на душу населения,Грамотность(%),Телефонов (на 1000),пахотные земли (%),земель под посевы(%),других земель (%),Климатический регион,Рождаемость,Смертность,С/Х в ВВП,Промышленность в ВВП,Услуг в ВВП
0,Afghanistan,Азия,31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,ВОСТОЧНАЯ ЕВРОПА,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,СЕВЕРНАЯ АФРИКА,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,ОКЕАНИЯ,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,Западная Европа,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

##### Загрузка JSON файла в DataFrame

In [4]:
# ---------------------------------------------------------------
# Импорт JSON файла
# ---------------------------------------------------------------
# Загрузка JSON файла в DataFrame
df_json = pd.read_json('countries_dataset/countries-table.json')

# Сохраняем в Excel
df_json.to_excel('countries_dataset/countries-table.xlsx')

# Выводим первые 5 строк DataFrame
df_json.head()

# Выводим последние 5 строк DataFrame
# df_json.tail()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5

##### Загрузка Excel файла в DataFrame

In [5]:
# ---------------------------------------------------------------
# Импорт Excel файла
# ---------------------------------------------------------------
# Загрузка Excel файла в DataFrame. Мы используем первый лист в файле Excel.
df_excel = pd.read_excel('countries_dataset/countries-table.xlsx', sheet_name=0)

# Выводим первые 5 строк DataFrame
df_excel.head()

# Выводим последние 5 строк DataFrame
# df_excel.tail()

,Unnamed: 0,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,0,356,696828385.0,1.059634e+09,1240613620,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.0,2973190.0,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,1,156,982372466.0,1.264099e+09,1348191368,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.0,9424702.9,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,2,840,223140018.0,2.823986e+08,311182845,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.0,9147420.0,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,3,360,148177096.0,2.140724e+08,244016173,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.0,1877519.0,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,4,586,80624057.0,1.543699e+08,194454498,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.0,770880.0,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5